<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.interline.dao.BillMapper">

	<select id="getTotalBillSheet" parameterType="userInformWithOptionDTO" resultType="int">
		select
			count(b.documentNum)
		from
			(
				select d.*,em1.receiver,em1.documentName,em1.estimateNum,ds.name stateName from
						(select * from documentMaster where systemNum=2) d 
					join 
						estimateMaster em1 
					on 
						(d.documentNum = em1.documentNum)
					join
						documentState ds
					on
						(d.state = ds.state)
			) b
		<choose>
			<when test='auth == "u"'>
				where b.userNum=#{userNum} or b.state='app'
			</when>
			<when test='auth == "a"'>
				
			</when>
		</choose>
		order by ${option}
	</select>
	
	<select id="getBillList" parameterType="userInformWithOptionDTO" resultType="estimateListDTO">
		select
			b.documentNum documentNumB,
			b.estimateNum estimateNumB,
			b.documentTypeName documentTypeNameB,
			b.nextDocumentTypeName nextDocumentTypeNameB,
			b.receiver receiverB,
			b.documentName documentNameB,
			b.updateDate updateDateB,
			b.userNum userNumB,
			b.userName userNameB,
			b.userDepartment userDepartmentB,
			b.userPosition userPositionB,
			b.state stateB,
			b.stateName stateNameB,
			b.approvedDate approvedDateB
		from
			(
				select d.*,em1.receiver,em1.documentName,em1.estimateNum,ds.name stateName from
						(select * from documentMaster where systemNum=2) d 
					join 
						estimateMaster em1 
					on 
						(d.documentNum = em1.documentNum)
					join
						documentState ds
					on
						(d.state = ds.state)
			) b
		<choose>
			<when test='auth == "u"'>
				where b.userNum=#{userNum}
			</when>
			<when test='auth == "a"'>
				
			</when>
		</choose>
		order by ${option}
	</select>
	
	<insert id="insertMasterInform" parameterType="billCommonDTO">
		insert into documentMaster (
			documentNum, systemNum, documentTypeName, nextDocumentTypeName,
			userNum, userName, userDepartment, userPosition,
			workflowNum, 
			state, updateDate, updater
		)
		values(
			#{documentNum}, #{systemNum}, #{documentTypeName}, #{nextDocumentTypeName},
			#{userNum}, #{userName}, #{userDepartment}, #{userPosition},
			<choose>
				<when test="workflowNum == 0">null,</when>
				<otherwise>#{workflowNum},</otherwise>
			</choose>
			#{state}, CURRENT_TIMESTAMP, #{updater}
		);
		
		insert into estimateMaster(
			documentNum, receiver, documentName,
			estimateNum
		)values(
			#{documentNum}, #{receiver}, #{documentName},
			<choose><when test='estimateNum == ""'>null</when><otherwise>#{estimateNum}</otherwise></choose><!-- 유니크속성때문에 ""는 안됨. -->
		)
	</insert>
	
	<update id="updateMasterInform" parameterType="billCommonDTO">
		update documentMaster set
			updateDate = CURRENT_TIMESTAMP,
			updater = #{updater}
		where 
			documentNum = #{documentNum};
		
		update estimateMaster set
			receiver = #{receiver},
			documentName = #{documentName}
		where
			documentNum = #{documentNum}
	</update>
<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////billSolution//////////////////////////////////////////////////// -->
	<insert id="insertBillSolution" parameterType="billSolutionDTO">
		insert into billSolution (
			documentNum,userNum,userName,userDepartment,userPosition,billDate,documentTypeName,
			stamp,stampFileName,logoFileName,

			receiver,
			address,
			documentName,
			payCondition,
			deadline,
			bankName,
			branchName,
			accountName,
			hurigana,
			accountNumber,
			depositeClassification,
			note,
			sum,
			taxRate,
			tax,
			sumWithTax,
			sumWithTax2,	
			comment,
			
			updateDate,updater
		) 
		values
		(
			#{documentNum},#{userNum},#{userName},#{userDepartment},#{userPosition},#{billDate},#{documentTypeName},
			#{stamp},#{stampFileName},#{logoFileName},
			
			#{receiver},
			#{address},
			#{documentName},
			#{payCondition},
			#{deadline},
			#{bankName},
			#{branchName},
			#{accountName},
			#{hurigana},
			#{accountNumber},
			#{depositeClassification},
			#{note},
			#{sum},
			#{taxRate},
			#{tax},
			#{sumWithTax},
			#{sumWithTax2},	
			#{comment},
			
			CURRENT_TIMESTAMP,#{updater}
		);
		
		insert into billSolutionItems (
			documentNum,rowNum,item,itemName,amount,unit,unitPrice,price
		)
		values
			<foreach collection="items" item="item" separator=",">
				(#{documentNum},#{item.rowNum},#{item.item},#{item.itemName},${item.amount},#{item.unit},${item.unitPrice},${item.price})
			</foreach>
	</insert>
	
	<update id="updateBillSolution" parameterType="billSolutionDTO">
		update billSolution set
			userNum = #{userNum},
			userName = #{userName},
			userDepartment = #{userDepartment},
			userPosition = #{userPosition},
			billDate = #{billDate},
			stamp = #{stamp},
			stampFileName = #{stampFileName},
			logoFileName = #{logoFileName},
			
			receiver = #{receiver},
			address = #{address},
			documentName = #{documentName},
			payCondition = #{payCondition},
			deadline = #{deadline},
			bankName = #{bankName},
			branchName = #{branchName},
			accountName = #{accountName},
			hurigana = #{hurigana},
			accountNumber = #{accountNumber},
			depositeClassification = #{depositeClassification},
			note = #{note},
			sum = #{sum},
			taxRate = #{taxRate},
			tax = #{tax},
			sumWithTax = #{sumWithTax},
			sumWithTax2 = #{sumWithTax2},	
			comment = #{comment},
			
			updateDate = CURRENT_TIMESTAMP,
			updater = #{updater}
		where
			documentNum = #{documentNum};
			
		<foreach collection="items" item="item">
			update billSolutionItems set
				item = #{item.item},
				itemName = #{item.itemName},
				amount = ${item.amount},
				unit = #{item.unit},
				unitPrice = ${item.unitPrice},
				price = ${item.price}
			where documentNum=#{documentNum} and rowNum = #{item.rowNum};
		</foreach>	
	</update>
	
<!-- /////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////billSi//////////////////////////////////////////////////// -->
	<insert id="insertBillSi" parameterType="billSiDTO">
		insert into billSi (
			documentNum,userNum,userName,userDepartment,userPosition,billDate,documentTypeName,
			stamp,stampFileName,logoFileName,
			
			receiver,
			address,
			documentName,
			workPeriodStart,
			workPeriodEnd,
			deadline,
			bankName,
			branchName,
			accountName,
			hurigana,
			accountNumber,
			depositeClassification,
			
			note,
			
			expenseTotal,
			benefitTotal,
			total,
			sum,
			taxRate,
			tax,
			sumWithTax,
			sumWithTax2,
				
			updateDate,updater
		) 
		values
		(
			#{documentNum},#{userNum},#{userName},#{userDepartment},#{userPosition},#{billDate},#{documentTypeName},
			#{stamp},#{stampFileName},#{logoFileName},
			
			#{receiver},
			#{address},
			#{documentName},
			#{workPeriodStart},
			#{workPeriodEnd},			
			#{deadline},
			#{bankName},
			#{branchName},
			#{accountName},
			#{hurigana},
			#{accountNumber},
			#{depositeClassification},
			
			#{note},
			
			${expenseTotal},
			${benefitTotal},
			${total},
			#{sum},
			#{taxRate},
			#{tax},
			#{sumWithTax},
			#{sumWithTax2},	
			
			CURRENT_TIMESTAMP,#{updater}
		);
		
		insert into billSiItems (
			documentNum,rowNum,
			monthlyUnitPrice,standardMin,standardMax,workTime,extraTime,overTimeUnitPrice,underTimeUnitPrice,price,expense,benefit,subtotal
		)
		values
			<foreach collection="items" item="item" separator=",">
				(#{documentNum},#{item.rowNum},
				${item.monthlyUnitPrice},${item.standardMin},${item.standardMax},${item.workTime},${item.extraTime},${item.overTimeUnitPrice},${item.underTimeUnitPrice},${item.price},${item.expense},${item.benefit},${item.subtotal})
			</foreach>
	</insert>
	
	<update id="updateBillSi" parameterType="billSiDTO">
		update billSi set
			userNum = #{userNum},
			userName = #{userName},
			userDepartment = #{userDepartment},
			userPosition = #{userPosition},
			billDate = #{billDate},
			stamp = #{stamp},
			stampFileName = #{stampFileName},
			
			logoFileName = #{logoFileName},
			receiver = #{receiver},
			address = #{address},
			documentName = #{documentName},
			workPeriodStart = #{workPeriodStart},
			workPeriodEnd = #{workPeriodEnd},
			deadline = #{deadline},
			
			bankName = #{bankName},
			branchName = #{branchName},
			accountName = #{accountName},
			hurigana = #{hurigana},
			accountNumber = #{accountNumber},
			depositeClassification = #{depositeClassification},
			
			note = #{note},
			
			expenseTotal = #{expenseTotal},
			benefitTotal = #{benefitTotal},
			total = #{total},
			sum = #{sum},
			taxRate = #{taxRate},
			tax = #{tax},
			sumWithTax = #{sumWithTax},
			sumWithTax2 = #{sumWithTax2},
				
			updateDate = CURRENT_TIMESTAMP,
			updater = #{updater}
		where
			documentNum = #{documentNum};
		
		<foreach collection="items" item="item">
			update billSiItems set
				monthlyUnitPrice = ${item.monthlyUnitPrice}, 
				standardMin = ${item.standardMin}, 
				standardMax = ${item.standardMax}, 
				workTime = ${item.workTime}, 
				extraTime = ${item.extraTime}, 
				overTimeUnitPrice = ${item.overTimeUnitPrice}, 
				underTimeUnitPrice = ${item.underTimeUnitPrice},
				price = ${item.price},
				expense = ${item.expense},
				benefit = ${item.benefit},
				subtotal = ${item.subtotal}
			where documentNum=#{documentNum} and rowNum = #{item.rowNum};
		</foreach>	
	</update>
	
<!-- ////////////////////////////////////////////////////////////////////////////////// -->	
<!-- /////////////////////////billC//////////////////////////////////////////////////// -->	
	<insert id="insertBillC" parameterType="billCDTO">
		insert into billC (
			documentNum, userNum, userName, userDepartment, userPosition, billDate, documentTypeName,
			stamp, stampFileName, logoFileName,
			
			receiver,
			address,
			documentName,
			payCondition,
			deadline,
			itemTitle,
			bankName,
			branchName,
			accountName,
			hurigana,
			accountNumber,
			depositeClassification,
			note,
			sum,
			taxRate,
			tax,
			commissionRate,
			commission,
			sumWithTax,
			sumWithTax2,	
			updateDate, updater
		) 
		values
		(
			#{documentNum}, #{userNum}, #{userName}, #{userDepartment}, #{userPosition}, #{billDate}, #{documentTypeName},
			#{stamp}, #{stampFileName}, #{logoFileName},
			
			#{receiver},
			#{address},
			#{receiver},    <!-- billC에 한해서 documentName에 고객명(receiver)를 넣는다. billC는 documentName이 없음...-->	
			#{payCondition},
			#{deadline},
			#{itemTitle},
			#{bankName},
			#{branchName},
			#{accountName},
			#{hurigana},
			#{accountNumber},
			#{depositeClassification},
			#{note},
			#{sum},
			#{taxRate},
			#{tax},
			#{commissionRate},
			#{commission},
			#{sumWithTax},
			#{sumWithTax2},	
			CURRENT_TIMESTAMP, #{updater}
		);
		
		insert into billCItems (
			documentNum,rowNum,itemName,unitPrice,amount,price
		)
		values
			<foreach collection="items" item="item" separator=",">
				(#{documentNum},#{item.rowNum},#{item.itemName},${item.unitPrice},${item.amount},${item.price})
			</foreach>
	</insert>
	
	<update id="updateBillC" parameterType="billCDTO">
		update billC set
			userNum = #{userNum},
			userName = #{userName},
			userDepartment = #{userDepartment},
			userPosition = #{userPosition},
			billDate = #{billDate},
			
			stamp = #{stamp},
			stampFileName = #{stampFileName},
			logoFileName = #{logoFileName},
			
			receiver = #{receiver},
			address = #{address},
			documentName = #{receiver},     <!-- billC에 한해서 documentName에 고객명(receiver)를 넣는다. billC는 documentName이 없음...-->	
			payCondition = #{payCondition},
			deadline = #{deadline},
			itemTitle = #{itemTitle},
			bankName = #{bankName},
			branchName = #{branchName},
			accountName = #{accountName},
			hurigana = #{hurigana},
			accountNumber = #{accountNumber},
			depositeClassification = #{depositeClassification},
			note = #{note},
			sum = #{sum},
			taxRate = #{taxRate},
			tax = #{tax},
			commissionRate = #{commissionRate},
			commission = #{commission},
			sumWithTax = #{sumWithTax},
			sumWithTax2 = #{sumWithTax2},	
			updateDate = CURRENT_TIMESTAMP,
			updater = #{updater}
		where
			documentNum = #{documentNum};
			
		<foreach collection="items" item="item">
			update billCItems set
				itemName = #{item.itemName}, 
				unitPrice = ${item.unitPrice},
				amount = ${item.amount},
				price = ${item.price}
			where documentNum=#{documentNum} and rowNum = #{item.rowNum};
		</foreach>
	</update>
	
<!-- ////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////billD//////////////////////////////////////////////////// -->
	<insert id="insertBillD" parameterType="billDDTO">
		insert into billD (
			documentNum,userNum,userName,userDepartment,userPosition,billDate,documentTypeName,
			stamp,stampFileName,logoFileName,
			
			receiver,
			address,
			documentName,
			
			sum,
			taxRate,
			tax,
			discountRate,
			discount,
			sumWithTax,
			sumWithTax2,	
			
			note,
			
			bnSwiftCode,
			bnBankName,
			bnBranchName,
			bnBankAddress,
			bnName,
			bnAddress,
			bnAccountNumber,
			bnAccountName,
			imSwiftCode,
			imBankName,
			
			updateDate, updater
		) 
		values
		(
			#{documentNum},#{userNum},#{userName},#{userDepartment},#{userPosition},#{billDate},#{documentTypeName},
			#{stamp},#{stampFileName},#{logoFileName},
			
			#{receiver},
			#{address},
			#{receiver},    <!-- billD에 한해서 documentName에 고객명(receiver)를 넣는다. billD는 documentName이 없음...-->	
			
			#{sum},
			#{taxRate},
			#{tax},
			#{discountRate},
			#{discount},
			#{sumWithTax},
			#{sumWithTax2},	
			
			#{note},
			
			#{bnSwiftCode},
			#{bnBankName},
			#{bnBranchName},
			#{bnBankAddress},
			#{bnName},
			#{bnAddress},
			#{bnAccountNumber},
			#{bnAccountName},
			#{imSwiftCode},
			#{imBankName},
			
			CURRENT_TIMESTAMP, #{updater}
		);
		
		insert into billDItems (
			documentNum,rowNum,itemName,unitPrice,amount,price
		)
		values
			<foreach collection="items" item="item" separator=",">
				(#{documentNum},#{item.rowNum},#{item.itemName},${item.unitPrice},${item.amount},${item.price})
			</foreach>
	</insert>
	
	
	<update id="updateBillD" parameterType="billDDTO">
		update billD set
			userNum = #{userNum},
			userName = #{userName},
			userDepartment = #{userDepartment},
			userPosition = #{userPosition},
			billDate = #{billDate},
			stamp = #{stamp},
			stampFileName = #{stampFileName},
			logoFileName = #{logoFileName},
			
			receiver = #{receiver},
			address = #{address},
			documentName = #{receiver},     <!-- billD에 한해서 documentName에 고객명(receiver)를 넣는다. billD는 documentName이 없음...-->	
			
			sum = #{sum},
			taxRate = #{taxRate},
			tax = #{tax},
			discountRate = #{discountRate},
			discount = #{discount},
			sumWithTax = #{sumWithTax},
			sumWithTax2 = #{sumWithTax2},
			
			note = #{note},
			
			bnSwiftCode = #{bnSwiftCode},
			bnBankName = #{bnBankName},
			bnBranchName = #{bnBranchName},
			bnBankAddress = #{bnBankAddress},
			bnName = #{bnName},
			bnAddress = #{bnAddress},
			bnAccountNumber = #{bnAccountNumber},
			bnAccountName = #{bnAccountName},
			imSwiftCode = #{imSwiftCode},
			imBankName = #{imBankName},
				
			updateDate = CURRENT_TIMESTAMP,
			updater = #{updater}
		where
			documentNum = #{documentNum};
	
		<foreach collection="items" item="item">
			update billDItems set
				itemName = #{item.itemName}, 
				unitPrice = ${item.unitPrice},
				amount = ${item.amount},
				price = ${item.price}
			where documentNum=#{documentNum} and rowNum = #{item.rowNum};
		</foreach>
	</update>
</mapper>