<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="jp.co.interline.dto.UserInformDTO" alias="userInformDTO"/>
		<typeAlias type="jp.co.interline.dto.DepartmentDTO" alias="departmentDTO"/>
		<typeAlias type="jp.co.interline.dto.PositionDTO" alias="positionDTO"/>
		<typeAlias type="jp.co.interline.dto.AuthDTO" alias="authDTO"/>
		<typeAlias type="jp.co.interline.dto.AccountDTO" alias="accountDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/UserMapper.xml"/>
		<mapper resource="Mapper/BasicMapper.xml"/>
		<mapper resource="Mapper/AccountMapper.xml"/>
	</mappers>
</configuration>