<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="jp.co.interline.dto.UserInformDTO" alias="userInformDTO"/>
		<typeAlias type="jp.co.interline.dto.UserInformWithOptionDTO" alias="userInformWithOptionDTO"/>
		<typeAlias type="jp.co.interline.dto.DepartmentDTO" alias="departmentDTO"/>
		<typeAlias type="jp.co.interline.dto.PositionDTO" alias="positionDTO"/>
		<typeAlias type="jp.co.interline.dto.AuthDTO" alias="authDTO"/>
		<typeAlias type="jp.co.interline.dto.AccountDTO" alias="accountDTO"/>
		<typeAlias type="jp.co.interline.dto.CompanyDTO" alias="companyDTO"/>
		<typeAlias type="jp.co.interline.dto.FileNamesDTO" alias="fileNamesDTO"/>
		<typeAlias type="jp.co.interline.dto.WorkflowInformDTO" alias="workflowInformDTO"/>
		<typeAlias type="jp.co.interline.dto.WorkflowDTO" alias="workflowDTO"/>
		<typeAlias type="jp.co.interline.dto.SystemDTO" alias="systemDTO"/>
		<typeAlias type="jp.co.interline.dto.DocumentMasterDTO" alias="documentMasterDTO"/>
		<typeAlias type="jp.co.interline.dto.ApprovedListDTO" alias="approvedListDTO"/>
		
		<typeAlias type="jp.co.interline.dto.estimateSystem.EstimateCommonDTO" alias="estimateCommonDTO"/>
		<typeAlias type="jp.co.interline.dto.estimateSystem.estimateSolution.EstimateSolutionDTO" alias="estimateSolutionDTO"/>
		<typeAlias type="jp.co.interline.dto.estimateSystem.estimateLanguage.EstimateLanguageDTO" alias="estimateLanguageDTO"/>
		<typeAlias type="jp.co.interline.dto.estimateSystem.estimateSi.EstimateSiDTO" alias="estimateSiDTO"/>
		
		<typeAlias type="jp.co.interline.dto.billSystem.BillCommonDTO" alias="billCommonDTO"/>
		<typeAlias type="jp.co.interline.dto.billSystem.billSolution.BillSolutionDTO" alias="billSolutionDTO"/>
		<typeAlias type="jp.co.interline.dto.billSystem.billSi.BillSiDTO" alias="billSiDTO"/>
		<typeAlias type="jp.co.interline.dto.billSystem.billC.BillCDTO" alias="billCDTO"/>
		<typeAlias type="jp.co.interline.dto.billSystem.billD.BillDDTO" alias="billDDTO"/>
		
		<typeAlias type="jp.co.interline.dto.EstimateListDTO" alias="estimateListDTO"/>
		<typeAlias type="jp.co.interline.dto.testDTO" alias="testDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/UserMapper.xml"/>
		<mapper resource="Mapper/BasicMapper.xml"/>
		<mapper resource="Mapper/AccountMapper.xml"/>
		<mapper resource="Mapper/CompanyMapper.xml"/>
		<mapper resource="Mapper/WorkflowMapper.xml"/>
		<mapper resource="Mapper/SystemMapper.xml"/>
		<mapper resource="Mapper/EstimateMapper.xml"/>
		<mapper resource="Mapper/BillMapper.xml"/>
	</mappers>
</configuration>